/* Copyright 2021 Gavin Pease */

.mybutton {
    width: 145px;
    height: 60px;
    font-size: 1.25em;
}

/*System/program on is for when the text displays "on"*/
.systemoff {
    background-color: #FF8B8B;
}

.systemon {
    background-color: #8BffA1;
}


.systemon, .systemoff {
    outline: none;
    color: #505050;
}

.fix-bars {
    font-size: 22px;
    padding: 19px;
}

.sprinkler-table {
    table-layout: auto;
    font-size: 1.25em;
    display: none;
}

.sprinkler-table th, tr td {
    vertical-align: middle !important;
}

.sprinkler-info {
    float: left;
    font-size: 1em !important;
}

.sprinkler-name {
    font-weight: bold;
    border-bottom: 1px solid #ababab;
    width: 100px;
}

.sprinkler-button {
    float: right !important;
    text-align: center !important;
    margin-right: 8px;
}

.settings-input {
    outline: none !important;
    float: right;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    max-width: 50%;
    text-align: right;
}

.subsetting {
    margin: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.unscheduled{
    color: #ff414f;
}

.setting-label {
    margin-top: 10px !important;
    vertical-align: middle !important;
}

.edit-page {
    font-size: 1.25em;
    display: block !important;
}

.italic {
    font-style: italic;!important;
}